body {
    background-color: rgba(128, 128, 128, 0.7);
}
h1 {
    font-family: 'Libre Baskerville', serif;
    color: rgb(212, 16, 16)
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(212, 16, 16)
}
nav {
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 75%;
    font-family: 'Libre Baskerville', serif;
}
.bio {
    font-family: 'Libre Baskerville', serif;
}

.books body{
    background-image: url(https://cdn.pixabay.com/photo/2016/09/13/08/44/library-1666702_960_720.jpg);
}
table {
    width: 75%;
    border: 10px;
}
table, td {
text-indent: 0px;
font-family: 'Libre Baskerville', serif;
}
.awards{
    margin-right: 500px;

}
.titles {
    text-align: center;
    text-indent: 10px;
}